<!DOCTYPE html>
<html dir ='rtl'>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<body style="background-image: url('/img/6.jpg'); background-size:cover;">

<div class="container">
  <h2><br>لیست رزروهای روز پنجشنبه <br><br></h2>
  <p><span class="glyphicon glyphicon-user"> </span> شما به عنوان<span style="color:red"> پارکبان </span>وارد شده اید</p>                                                                                      
  <div class="table-responsive">         
  <table class="table table-hover table-bordered" dir='rtl'>
    <thead>
      <tr>
        <th style="text-align:right"text-align:right>شماره جایگاه</th>
        <th style="text-align:right" table-bordered>شماره پلاک</th>
	<th style="text-align:right">ساعت رزرو</th>
	<th style="text-align:right" >وضعیت</th>
      </tr>
    </thead>
    <tbody>
      <tr class = "danger">
        <td><span style ="font-size:130%">1</span></td>
        <td style="text-align:right"> <span style = "font-size:150% ;"> 88 / 125  الف 12</span></td>
	<td><span style = "font-size:130%">3:00 - 2:00 </span></td>
	<td> <div class="checkbox">
      		<span>پارک شده</span><input type="checkbox"/>
    		</div>	
	</td>
      </tr>

      <tr>
        <td><span style ="font-size:130%">2</span></td>
        <td style="text-align:right"> <span style = "font-size:150% ;">44 / 125 ل 12 </span></td>
	<td><span style = "font-size:130%">6:00 - 5:00 </span></td>
	<td> <div class="checkbox">
      		<span>پارک شده</span><input type="checkbox"/>
    		</div>	
	</td>
	</tr>
      <tr class = "success">
        <td><span style ="font-size:130%">3</span></td>
        <td style="text-align:right"> <span style = "font-size:150% ;">99 / 754 ن 32 </span></td>
	<td><span style = "font-size:130%">3:00 - 2:00 </span></td>
	<td> <div class="checkbox">
      		<span>پارک شده</span><input type="checkbox"/>
    		</div>	
	</td>
	</tr>


    </tbody>
  </table>
  </div>
</div>
</body>
</html>